<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="lazy-import" href="list-posts.html">
<link rel="lazy-import" href="log-in.html">
<link rel="lazy-import" href="new-post.html">
<link rel="lazy-import" href="detail-post.html">
<link rel="lazy-import" href="my-posts.html">
<link rel="lazy-import" href="new-user.html">
<link rel="lazy-import" href="modify-post.html">

<dom-module id="blog-app">
  <template>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <custom-style>
      <style is="custom-style">

        app-toolbar {
          background-color: #4285f4;
          color: #fff;
        }

        app-drawer {
          --app-drawer-scrim-background: rgba(0, 0, 100, 0.8);
          --app-drawer-content-container: {
            background-color: #B0BEC5;
          };
          z-index: 100000;
        }

        .drawer-list a {
          color: var(--app-secondary-color);
        }

        .drawer-contents {
          height: 100%;
          overflow-y: auto;
        }

        .avatar-container {
          position: relative;
          border: 2px solid #00AA8D;
          border-radius: 50%;
          height: 90px;
          padding: 2px;
          width: 90px;
          margin: 20px auto;
        }

        .avatar-container .image {
          background-size: contain;
          border-radius: 50%;
          height: 100%;
          width: 100%;
        }

        .main-page {
          margin-top: 10px;
        }
      </style>
    </custom-style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-header-layout fullbleed>
      <app-header condenses reveals>
        <app-toolbar>
          <paper-icon-button icon="menu" on-click="_handleOnClick"></paper-icon-button>
          <div main-title>Blog de Luisfe</div>
          <paper-icon-button icon="icons:arrow-back" on-tap="_handleBack"></paper-icon-button>
          <paper-icon-button icon="icons:home" on-tap="_handleHome"></paper-icon-button>
          <input type="text" id="searcherBox" value="{{searchtext::input}}" placeholder="Texto" style="color:#999;">
          <paper-icon-button icon="search" on-tap="_handleSearch"></paper-icon-button>
        </app-toolbar>
      </app-header>
    </app-header-layout>

    <app-drawer-layout fullbleed>
      <app-drawer id="drawer" slot="drawer" swipe-open>
        <div class="drawer-contents"> <!-- Make scrollable context in app-drawer -->
          <app-toolbar>
            <div main-title>Menú</div>
          </app-toolbar>

          <div class="avatar-container">
              <div class="image" style="{{imageUrlStyle}}"></div>
          </div>

          <paper-listbox selected="[[page]]" attr-for-selected="name" fallback-selection="list-posts" class="drawer-list">
            <!--paper-item name="delete-user" id="deleteUserPaperItem">
              <a href="#" on-tap="_handleDeleteUser">Eliminar la cuenta</a>
            </paper-item-->
            <paper-item name="log-in" id="logInPaperItem">
              <a href="log-in">Registrarse para postear</a>
            </paper-item>
            <paper-item name="new-post" id="newPostPaperItem" disabled>
              <a href="new-post">Postear un nuevo tema</a>
            </paper-item>
            <paper-item name="my-posts" id="listPostsPaperItem" disabled>
              <a href="my-posts">Ver mis posts</a>
            </paper-item>
          </paper-listbox>
        </div>
      </app-drawer>

      <iron-pages selected="[[page]]" attr-for-selected="name" role="main" class="main-page">
        <list-posts name="list-posts" id="listPosts"></list-posts>
        <log-in name="log-in" user="{}" id="loginForm"></log-in>
        <new-post name="new-post" on-post-created="_handlePostCreation"></new-post>
        <detail-post name="detail-post" identifier="{{subroute.path}}" on-user-search="_handleUserSearch" id=detailPost></detail-post>
        <my-posts name="my-posts" id=myPosts></my-posts>
        <new-user name="new-user" user="{}" id="newUserForm"></new-user>
        <modify-post name="modify-post" identifier="{{subroute.path}}" on-post-created="_handlePostModified"></modify-post>
      </iron-pages>
    </app-drawer-layout>
  </template>

  <script>

   Polymer({
     is: 'blog-app',

     properties: {
        page: {
          type: String,
          reflectToAttribute: true,
          observer: '_pageChanged'
        },
        routeData: {
          type: Object,
          observer:'_routePageChangedRouteData'
        },
        subroute: Object,
        imageUrlStyle: {
          type:String,
          value: "background-image: url('https://s3-eu-west-1.amazonaws.com/blog-user-images/none-avatar.jpg');"
        },
        searchtext: String
      },
      ready: function(){
        FB.login(function (response) {
          //console.log("Haciendo login en facebook... ");
          AWS.config.credentials.params.WebIdentityToken = response.authResponse.accessToken;
          //console.log(response);
        });

        this.$.loginForm.addEventListener('user-log-in', e => this._handleUserLogIn(e));
        this.$.newUserForm.addEventListener('user-log-in', e => this._handleUserLogIn(e));
      },
      _handlePostCreation:function(evento) {
        this.$.myPosts.ready();
        this.$.listPosts.refresh();
        this.set('route.path','/my-posts/');
      },
      _handlePostModified:function(evento) {
        this.$.myPosts.ready();
        this.$.listPosts.refresh();
      },
      _handleUserLogIn: async function(evento) {
        //console.log("Evento de login recibido " + evento.detail.user.nombre);
        this.$.newPostPaperItem.disabled = false;
        this.$.logInPaperItem.disabled = true;
        this.$.listPostsPaperItem.disabled = false;
        this.$.detailPost._setCommentName();
        await this._sleep(5000);

        this.imageUrlStyle = "background-image: url('https://s3-eu-west-1.amazonaws.com/blog-user-images/" + encodeURIComponent(evento.detail.user.nombre) + "');";
      },
      _handleUserSearch: function(evento) {
        this.$.listPosts.searchtext = 'q={"autor.nombre":"' + evento.detail.user + '"}&';
        this.set('route.path','/list-posts/');
      },
      _routePageChangedRouteData: function(routeData) {
        this._routePageChanged(routeData.page);
      },
      _routePageChanged: function(page) {
        // Polymer 2.0 will call with `undefined` on initialization.
        // Ignore until we are properly called with a string.
        if (page === undefined) {
          return;
        }

        // If no page was found in the route data, page will be an empty string.
        this.page = page || 'list-posts';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      },
      _pageChanged: function(page) {
          // Load page import on demand. Show 404 page if fails
          //console.log("Pagina cambiada " + this.page + " subruta " + JSON.stringify(this.subroute));

          var resolvedPageUrl = this.resolveUrl(page + '.html');
          Polymer.importHref(
              resolvedPageUrl,
              null,
              this._showPage404.bind(this),
              true);
        },
        _showPage404: function() {
          this.page = 'list-posts';
        },
        _handleBack: function(){
          window.history.back();
        },
        _handleOnClick: function() {
          this.$.drawer.toggle();
        },
        _handleHome: function() {
          this.$.searcherBox.value = "";
          this.$.listPosts.searchtext = "";
          this.$.listPosts.refresh();
          this.set('route.path','/list-posts');
        },
        _handleSearch: function() {
          this.$.listPosts.searchtext = 'q={"texto": {"$regex":"' + this.searchtext + '", "$options":"i"}}&';
          this.set('route.path','/list-posts');
        },
        _sleep: function(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }
    })
  </script>
</dom-module>
