<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="comment-manager">
  <template>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <custom-style>
      <style is="custom-style">
        .blog-post {
          padding: 5px;
        }
        .blog-post-headers {
          font-size: 18px;
          margin-top: 30px;
        }
        .blog-post-meta {
          margin-bottom: 10px;
          color:#999;
        }
        .blog-post-body {
          clear:both;
          margin-left: 15px;
        }

        .form-signin {
          max-width: 600px;
          padding: 15px;
          margin: 0 auto;
          margin-bottom: 10px;
          font-weight: normal;
        }

        .form-signin .form-control {
          position: relative;
          height: auto;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          padding: 8px;
        }

        .avatar-container {
          float: left;
          height: 70px;
          padding: 2px;
          width: 70px;
          margin: -10px 16px 24px 0px;
        }
      </style>
    </cutom-style>
    <iron-ajax
        id=executeInsertComment
        url={{url}}
        method="PUT"
        contentType="application/json"
        headers='{"Content-Type":"application/json"}'
        handle-as="json"
        body="{{updatedbody}}"
        on-response="_handleResponse"></iron-ajax>

    <template is="dom-repeat" items="[[comments]]">
      <div class="blog-post">
        <p class="blog-post-meta">
          <img src="https://s3-eu-west-1.amazonaws.com/blog-user-images/{{item.nombre}}" class="img-circle avatar-container" alt="">
          <span>
              <strong>{{item.nombre}}</strong>
          </span>
          <em> dice </em>
          <br>
          <em>{{item.fechaFormateada}}</em>
        </p>
        <div class="blog-post-body">
          <p class="text-justify">{{item.texto}}</p>
        </div>
      </div>
    </template>

    <p class="blog-post-headers"><strong>Inserte su propio comentario</strong></p>
    <div class="container-fluid form-signin form-horizontal">
      <div class$="{{inputUserClass}}">
        <label for="inputName" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" placeholder="Nombre" value="{{newcomment.nombre::input}}">
        </div>
      </div>
      <div class$="{{inputCommentClass}}">
        <label for="inputComment" class="col-sm-2 control-label">Comentario</label>
        <div class="col-sm-10">
          <textarea rows="5" class="form-control" id="inputComment" placeholder="Comentario" value="{{newcomment.texto::input}}"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-lg btn-primary" on-tap="_insertComment">Comentar</button>
        </div>
      </div>
    </div>

  </template>

  <script>
    Polymer({
      is: 'comment-manager',
      properties: {
        comments: {
          type: Array,
          value: []
        },
        newcomment: {
          type: Object,
          value: {"texto":""}
        },
        url: String,
        postidentifier: {
          type: String,
          reflectToAttribute: true,
          observer: '_postidentifierChanged'
        },
        updatedbody: Object,
        inputUserClass: {
          type: String,
          value: 'form-group'
        },
        inputCommentClass: {
          type: String,
          value: 'form-group'
        }
      },
      _postidentifierChanged: function(postidentifier) {
        if (postidentifier === undefined || postidentifier == "") {
          return;
        }
        this.url = "https://api.mlab.com/api/1/databases/tech-u-bootcamp/collections/posts/"+postidentifier+"?apiKey=cfC9AH4AebXQRi86oTVKVuP30-rd6jOb";
      },
      _insertComment: function() {
        //Revisar si los valores en los inputs son correctos
        var validationError = false;
        if (this.newcomment.nombre === undefined || this.newcomment.nombre=="") {
          this.inputUserClass = "form-group has-error";
          validationError = true;
        } else {
          this.inputUserClass = "form-group";
        }
        if (this.newcomment.texto === undefined || this.newcomment.texto=="") {
          this.inputCommentClass = "form-group has-error";
          validationError = true;
        } else {
          this.inputCommentClass = "form-group";
        }
        if (validationError) {
          return;
        }

        var today = new Date();
        this.newcomment.fecha = today;
        this.newcomment.fechaFormateada = this._formatDate(today);

        if (this.comments === undefined) {
          this.comments = [];
        }
        this.comments.push(this.newcomment);

        this.updatedbody = "{ $set: { comments: " + JSON.stringify(this.comments) + ", numcomments:" + this.comments.length + "} }";
        this.$.executeInsertComment.generateRequest();
      },
      _handleResponse: function(dataResponse) {
        //Añadir el comentario a la lista de comentarios y limpiar el resto de campos
        //console.log(dataResponse);
        this.dispatchEvent(new CustomEvent('comment-added', {detail: {comments: this.comments}}));
        this.newcomment = {"texto":"", "nombre":sessionStorage.getItem("loggedUser")};
      },
      _formatDate: function(date) {
        var monthNames = [
          "enero", "febrero", "marzo",
          "abril", "mayo", "junio", "julio",
          "agosto", "septiembre", "octubre",
          "noviembre", "diciembre"
        ];
        var day = date.getDate();
        var monthIndex = date.getMonth();
        var year = date.getFullYear();
        var hour = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();

        if (minute<10) {
          minute = "0" + minute;
        }
        if (second<10) {
          second = "0" + second;
        }

        return day + ' ' + monthNames[monthIndex] + ' ' + year + ' - ' + hour + ":" + minute + ":" + second;
      },
      _setCommentName: function(){
        //console.log("Fijando nuevo nombre " + sessionStorage.getItem("loggedUser"));
        this.newcomment = {"texto":"", "nombre":sessionStorage.getItem("loggedUser")};
      }
    })
  </script>
</dom-module>
