<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="comment-manager.html">

<dom-module id="detail-post">
  <template>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <custom-style>
      <style is="custom-style">
        .blog-post {
          border-radius: 3px;
          padding: 15px;
          border-bottom: 2px solid #e5e5e5;
          background-color: white;
        }
        .blog-post-meta {
          margin-bottom: 10px;
          color:#999;
        }

        .blog-post-title {
          margin-bottom: 5px;
          font-size: 40px;
        }

        .blog-post-title-link {
          color: #555;
        }

        .blog-post-body {
          font-size: 18px;
        }

        .blog-post-comments {
          font-size: 14px;
          border-radius: 3px;
          padding: 15px;
          border-top: 2px solid #e5e5e5;
        }

        .imagen-post {
          max-height: 350px;
        }
      </style>
    </cutom-style>
    <iron-ajax
        id=executePostLoad
        auto=true
        url={{url}}
        method="GET"
        contentType="application/json"
        handle-as="json"
        on-response="_handleResponse"></iron-ajax>

    <div class="container-fluid">
      <div class="blog-post">
        <p class="blog-post-meta"><em>Escrito por</em>
          <span>
            <a on-tap="_handleNameClick">
              <strong>{{post.autor.nombre}}</strong>
            </a>
          </span>
          <span> | </span>
          <em>{{post.fechaFormateada}}</em>
          <span> | </span>
          <strong>
            <!--a href="#"-->
              {{post.numcomments}} Comentarios
            <!--/a-->
          </strong>
        </p>
        <p class="d-block">
          <h3 class="blog-post-title">
            <a class="blog-post-title-link" href="detail-post/{{post._id.$oid}}">
              {{post.titulo}}
            </a>
          </h3>
        </p>
        <!-- Compartir en redes sociales -->
        <!--div class="social-networks-header">
          <div class="social-networks-twitter"></div>
          <div class="social-networks-facebook"></div>
          <div class="social-networks-linkedin"></div>
        </div-->
        <div class="blog-post-body">
          <p>
            <img src="https://s3-eu-west-1.amazonaws.com/blog-posts-images/{{post._id.$oid}}"
                  alt="Imagen no disponible"
                  class="img-responsive img-rounded center-block imagen-post"/>
          </p>
          <p class="text-justify">{{post.texto}}</p>
          <br/>
          <a href="detail-post/{{post._id.$oid}}" class$="{{unexpandStyle}}">Leer más...</a>
        </div>
        <div id=commentsdiv class$="{{expandStyle}}">
          <p class="blog-post-body"><strong>Comentarios</strong></p>
          <comment-manager id=commentManager postidentifier="{{post._id.$oid}}" comments="[[post.comments]]" on-comment-added="_handleCommentAdd"> </comment-manager>
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'detail-post',
      properties: {
        post: Object,
        identifier: {
          type: String,
          reflectToAttribute: true,
          observer: '_identifierChanged'
        },
        url: String,
        expandStyle: {
          type: String,
          value: "blog-post-comments hidden"
        },
        unexpandStyle: {
          type: String,
          value: ""
        }
      },
      _identifierChanged: function(identifier) {
        if (identifier === undefined || identifier == "") {
          return;
        }
        //console.log("Identifier cambio " + identifier);
        this.url = "https://api.mlab.com/api/1/databases/tech-u-bootcamp/collections/posts"+identifier+"?apiKey=cfC9AH4AebXQRi86oTVKVuP30-rd6jOb";
      },
      _handleResponse: function(dataResponse) {
        //console.log("Respuesta recibida " + JSON.stringify(dataResponse.detail.response));
        this.expandStyle = "blog-post-comments show";
        this.unexpandStyle = "hidden";
        this.post = dataResponse.detail.response;
      },
      _handleNameClick: function() {
        this.dispatchEvent(new CustomEvent('user-search', {detail: {user: this.post.autor.nombre}}));
      },
      _handleCommentAdd: function(evento) {
        //this.post.comments = evento.detail.comments;
        this.$.executePostLoad.generateRequest();
      },
      _setCommentName: function() {
        this.$.commentManager._setCommentName();
      }
    })
  </script>
</dom-module>
