<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="file-s3-uploader">
  <template>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <input type="file" id="fileChooser"/>
  </template>

  <script>
    Polymer({
      is: 'file-s3-uploader',
      properties: {
        bucketname: {
          type: String,
          reflectToAttribute: true
        },
        file: Object
      },
      handleUpload: function(filename) {
        //console.log(this);
        this.file = this.$.fileChooser.files[0];
        if (this.file) {
          var params = {
              Key: filename,
              ContentType: this.file.type,
              Body: this.file,
              Bucket: this.bucketname,
              ACL: "public-read"
          };
          console.log("Subiendo el fichero con nombre... " + filename + " y parametros " + JSON.stringify(params));
          bucketAWS.putObject(params, function (error, data) {
            if (error) {
              console.log("Se ha producido un error en la subida " + error, error.stack);
            } else {
              console.log("Subida del fichero realizada correctamente... " + JSON.stringify(data));
            }
          });
        } else {
            console.log("Nada que subir");
        }
      },
      resetFileName: function() {
        this.$.fileChooser.value = '';
      },
      _handleListFiles: function() {
        var params = {
          Bucket: this.bucketName
        };
        bucketAWS.listObjects(params, function (error, data) {
          if (error) {
            console.log("Se ha producido un error en la lectura " + error, error.stack);
          } else {
            console.log("Listando los objetos de S3... " + JSON.stringify(data.Contents));
          }
        });
      },
      _handleGetObject: function() {
        var params = {
          Bucket: this.bucketName,
          Key: "prueba.png"
         };
         bucketAWS.getObject(params, function(error, data) {
           if (error) {
             console.log(error, error.stack); // an error occurred
           } else {
             console.log(data);           // successful response
             var href = this.request.httpRequest.endpoint.href;
             var bucketUrl = href + "blog-posts-images" + '/';
             var photoKey = "prueba.png";
             var photoUrl = bucketUrl + encodeURIComponent(photoKey);
             console.log("href: " + href + " bucketUrl: " + bucketUrl + " photoKey: " + photoKey+ " photoUrl: " + photoUrl);
           }
         });
       }
    })
  </script>
</dom-module>
