<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="detail-post.html">

<dom-module id="list-posts">
  <template>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <iron-ajax
        id=executeLoad
        auto=true
        url="{{url}}"
        method="GET"
        contentType="application/json"
        handle-as="json"
        on-response="_handleLoad"></iron-ajax>

      <template is="dom-repeat" items="[[posts]]">
        <detail-post post={{item}} on-user-search="_handleUserSearch"></detail-post>
      </template>
  </template>

  <script>
    Polymer({
      is: 'list-posts',
      properties: {
        posts: Array,
        url: {
          type: String,
          value: 'https://api.mlab.com/api/1/databases/tech-u-bootcamp/collections/posts?s={"fecha": -1}&apiKey=cfC9AH4AebXQRi86oTVKVuP30-rd6jOb'
        },
        searchtext: {
          type: String,
          reflectToAttribute: true,
          observer: '_searchtextchanged'
        }
      },
      refresh: function() {
        this.$.executeLoad.generateRequest();
      },
      _handleLoad: function(loadResponse) {
        this.posts = loadResponse.detail.response;
      },
      _searchtextchanged: function(text) {
        if (text === undefined || text == "") {
          this.url = 'https://api.mlab.com/api/1/databases/tech-u-bootcamp/collections/posts?s={"fecha": -1}&apiKey=cfC9AH4AebXQRi86oTVKVuP30-rd6jOb';
        }
        this.url = "https://api.mlab.com/api/1/databases/tech-u-bootcamp/collections/posts?"+this.searchtext+'s={"fecha": -1}&apiKey=cfC9AH4AebXQRi86oTVKVuP30-rd6jOb';
        //console.log("URL de busqueda :" + this.url);
      },
      _handleUserSearch: function(evento) {
        this.searchtext = 'q={"autor.nombre":"' + evento.detail.user + '"}&';
      }
    })
  </script>
</dom-module>
