<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">


<dom-module id="log-in">
  <template>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <custom-style>
      <style is="custom-style">
        body {
          padding-top: 40px;
          padding-bottom: 40px;
        }

        .form-signin {
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin {
          margin-bottom: 10px;
        }
        .form-signin {
          font-weight: normal;
        }
        .form-signin .form-control {
          position: relative;
          height: auto;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          padding: 10px;
          font-size: 16px;
        }
        .form-signin .form-control:focus {
          z-index: 2;
        }
        .form-signin input[type="text"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      </style>
    </custom-style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <iron-ajax
        id="executeRequestLogin"
        url="http://postgrebc9688.cloudapp.net:3000/api/login"
        method="POST"
        contentType="application/json"
        headers='{"Access-Control-Allow-Origin":"*","Content-Type":"application/json"}'
        body={{user}}
        handle-as="json"
        on-response="_handleLogin"></iron-ajax>

    <div class="container-fluid">
      <div class="form-signin">
        <h2 class="form-signin-heading">Introduce tus claves de acceso</h2>
        <label for="inputUser" class="sr-only">Usuario</label>
        <div class$="{{inputUserClass}}">
          <input type="text"
                  id="inputUser"
                  class="form-control"
                  placeholder="Usuario"
                  autofocus
                  value="{{user.nombre::input}}"></input>
        </div>
        <label for="inputPassword" class="sr-only">Clave de acceso</label>
        <div class$="{{inputPasswordClass}}">
          <input type="password"
                  id="inputPassword"
                  class="form-control"
                  placeholder="Clave de acceso"
                  value="{{user.password::input}}"></input>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" on-tap="executeLogIn">Entrar</button>

        <div id="divAlert" class$="{{alertClass}}" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          Usuario o contraseña incorrectos
        </div>

        <br/>
        <div>
          <p class="text-muted">Para conseguir tus claves de acceso y poder postear en el blog tienes que hacerte usuario</p>
          <button class="btn btn-lg btn-default btn-block" type="button" on-tap="_register">Hacerme usuario</button>
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'log-in',
      properties: {
        user: {
          type: Object
        },
        alertClass: {
          type: String,
          value: 'alert alert-danger alert-dismissable hidden'
        },
        inputUserClass: {
          type: String,
          value: 'form-group'
        },
        inputPasswordClass: {
          type: String,
          value: 'form-group'
        }
      },
      executeLogIn: function () {
        //Revisar si los valores en los inputs son correctos
        var validationError = false;
        if (this.user.nombre === undefined || this.user.nombre=="") {
          this.inputUserClass = "form-group has-error";
          validationError = true;
        } else {
          this.inputUserClass = "form-group";
        }
        if (this.user.password === undefined || this.user.password=="") {
          this.inputPasswordClass = "form-group has-error";
          validationError = true;
        } else {
          this.inputPasswordClass = "form-group";
        }
        if (validationError) {
          return;
        }

        this.$.executeRequestLogin.generateRequest();
      },
      _handleLogin: function(dataResponseLogin) {
        //console.log("Respuesta login: ");
        //console.log(dataResponseLogin.detail.response);

        var respuestaLogin = dataResponseLogin.detail.response;
        if (respuestaLogin.data.count > 0) {
          sessionStorage["loggedUser"] = this.user.nombre;
          this.alertClass = "alert alert-danger alert-dismissable hidden";

          this.dispatchEvent(new CustomEvent('user-log-in', {detail: {user: this.user}}));
          this.set('route.path','/my-posts');
        } else {
          this.alertClass = "alert alert-danger alert-dismissable";
        }
      },
      _register: function() {
        this.set('route.path','/new-user');
      }
    })
  </script>
</dom-module>
