<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="file-s3-uploader.html">

<dom-module id="modify-post">
  <template>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <custom-style>
      <style is="custom-style">
        :host {
          padding-top: 40px;
          padding-bottom: 40px;
          font-size: 16px;
        }

        .form-signin {
          max-width: 1100px;
          padding: 15px;
          margin: 0 auto;
          margin-bottom: 10px;
          font-weight: normal;
        }

        .form-signin .form-control {
          position: relative;
          height: auto;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          padding: 8px;
          font-size: 16px;
        }

      </style>
    </custom-style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <iron-ajax
        id="executeInitialLoad"
        url="{{url}}"
        method="GET"
        contentType="application/json"
        headers='{"Content-Type":"application/json"}'
        handle-as="json"
        on-response="_handleInitialLoad"></iron-ajax>

    <iron-ajax
        id="executeUpdate"
        url="{{url}}"
        method="{{method}}"
        contentType="application/json"
        headers='{"Content-Type":"application/json"}'
        body={{post}}
        handle-as="json"
        on-response="_handleUpdate"></iron-ajax>

    <div class="container-fluid form-signin form-horizontal">
      <div class$="{{inputTituloClass}}">
        <label for="inputTitle" class="col-sm-2 control-label">Título</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputTitle" placeholder="Título" value="{{post.titulo::input}}" required>
        </div>
      </div>
      <div class$="{{inputTextoClass}}">
        <label for="inputText" class="col-sm-2 control-label">Texto</label>
        <div class="col-sm-10">
          <textarea rows="5" class="form-control" id="inputText" placeholder="Contenido del post" value="{{post.texto::input}}"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="inputImage" class="col-sm-2 control-label">Imagen</label>
        <div class="col-sm-10">
          <file-s3-uploader bucketname="{{bucketname}}" id="inputImage"></file-s3-uploader>
        </div>
      </div>
      <div class="form-group">
        <label for="inputLength" class="col-sm-2 control-label">Longitud</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputLength" placeholder="Longitud" value="{{post.longitud}}" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="inputDate" class="col-sm-2 control-label">Fecha</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="inputDate" placeholder="Fecha" value="{{post.fechaFormateada}}" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAuthor" class="col-sm-2 control-label">Autor</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputAuthor" placeholder="Autor" value="{{post.autor.nombre}}" disabled>
        </div>
      </div>
      <div id="divSuccess" class$="{{successClass}}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <bold>¡Enhorabuena!</bold> se ha modificado correctamente el post.
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-lg btn-primary" on-tap="_modifyPost">Actualizar</button>
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'modify-post',
      properties: {
        post: {
          type: Object,
          value: function() { return {"autor":{}, "texto":"", "numcomments":0}; }
        },
        identifier: {
          type: String,
          reflectToAttribute: true,
          observer: '_identifierChanged'
        },
        url: String,
        successClass: {
          type: String,
          value: 'alert alert-success alert-dismissable hidden'
        },
        method: String,
        bucketname: {
          type: String,
          value: 'blog-posts-images'
        },
        inputTituloClass: {
          type: String,
          value: "form-group"
        },
        inputTextoClass: {
          type: String,
          value: "form-group"
        }
      },
      created: function(){
        var today = new Date();
        this.post.fecha = today;
        this.post.fechaFormateada = this._formatDate(today);
        this.post.longitud = "0";
        this.post.autor.nombre = sessionStorage.getItem("loggedUser");
      },
      reset: function() {
        this.$.inputText.value = "";
        this.$.inputTitle.value = "";
        this.$.inputLength.value = "0";
        this.successClass = "alert alert-success alert-dismissable hidden";
      },
      _identifierChanged: function(identifier) {
        //console.log("Identifier cambia a " + identifier);
        if (identifier === undefined || identifier == "") {
          return;
        }
        this.url = "https://api.mlab.com/api/1/databases/tech-u-bootcamp/collections/posts"+identifier+"?apiKey=cfC9AH4AebXQRi86oTVKVuP30-rd6jOb";
        this.method = "PUT";
        this.$.executeInitialLoad.generateRequest();
      },
      _handleInitialLoad: function(dataResponseInitialLoad) {
        this.post = dataResponseInitialLoad.detail.response;
        this.$.inputImage.resetFileName();
        this.successClass = "alert alert-success alert-dismissable hidden";
      },
      _modifyPost: function() {
        //Revisar si los valores en los inputs son correctos
        var validationError = false;
        if (this.post.titulo === undefined || this.post.titulo=="") {
          this.inputTituloClass = "form-group has-error";
          validationError = true;
        } else {
          this.inputTituloClass = "form-group";
        }
        if (this.post.texto === undefined || this.post.texto=="") {
          this.inputTextoClass = "form-group has-error";
          validationError = true;
        } else {
          this.inputTextoClass = "form-group";
        }
        if (validationError) {
          return;
        }

        var today = new Date();
        this.post.fecha = today;
        this.post.fechaFormateada = this._formatDate(today);
        this.post.longitud = this.post.texto.length;

        this.$.executeUpdate.generateRequest();
      },
      _handleUpdate: function(dataResponseUpdate) {
        this.successClass = "alert alert-success alert-dismissable";
        this.inputTituloClass = "form-group";
        this.inputTextoClass = "form-group";

        this.post = dataResponseUpdate.detail.response;
        this.$.inputImage.handleUpload(this.post._id.$oid);
        this.dispatchEvent(new CustomEvent('post-created', {detail: {postidentifier: this.post._id.$oid}}));
      },
      _formatDate: function(date) {
        var monthNames = [
          "enero", "febrero", "marzo",
          "abril", "mayo", "junio", "julio",
          "agosto", "septiembre", "octubre",
          "noviembre", "diciembre"
        ];
        var day = date.getDate();
        var monthIndex = date.getMonth();
        var year = date.getFullYear();

        return day + ' ' + monthNames[monthIndex] + ' ' + year;
      }
    })
  </script>
</dom-module>
