<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">

<dom-module id="my-posts">
  <template>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <custom-style>
      <style is="custom-style">
        :host {
          font-size: 16px;
        }

        .details{
          padding: 10px;
          margin: 10px;
          display: flex;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
          font-size: 14px;
          border-radius: 5px;
          white-space: normal;
          border: solid 1px #6ca0da;
        }

        vaadin-grid {
          --vaadin-grid-cell: {
            padding: 0 13px;
          };

          --vaadin-grid-body-cell: {
            height: 50px;

            background: #fff;
            width: 100%;
          };

          --vaadin-grid-header-cell: {
            background: rgba(235, 238, 246, 0.9);
            border-bottom: 1px solid rgba(208, 217, 225, 0.9);
            border-top: 1px solid rgba(248, 250, 252, 0.9);
            min-height: 50px;

            background-image: linear-gradient(rgba(108, 160, 218, 0), rgba(108, 160, 218, 0.15));
            background-size: 1px 100%;
            background-position: 100% 0%;
            background-repeat: no-repeat;

            display: flex;
            padding: 10px;
            justify-content: space-between;
          };

          --vaadin-grid-body-row-selected-cell: {
            background-color: #83b7ec;
            color: #fff;
            border-bottom-color: #6ca0da;
          };

          --vaadin-grid-body-row-odd-cell: {
            background-color: #fbfcfe;
          };

          --vaadin-grid-body-row-hover-cell: {
            background-color: #ebeef6;
          };

          --vaadin-grid-body-row-details-cell: {
            text-align: justify;
          };

          --vaadin-grid-column-resize-handle: {
            opacity: 0;
          };
        }

        .new-post-button {
          border-radius: 50%;
          height: 50px;
          width: 50px;
          padding: 2px;
          margin: 10px;
          float:right;
          font-size: 20px;
        }
      </style>
    </custom-style>

    <iron-ajax
        id="executeLoad"
        url="{{url}}"
        method="GET"
        contentType="application/json"
        handle-as="json"
        on-response="_handleLoad"></iron-ajax>

    <iron-ajax
        id="executeDelete"
        url="{{urlDelete}}"
        method="DELETE"
        contentType="application/json"
        handle-as="json"
        on-response="_handleDelete"></iron-ajax>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <div class="container-fluid">
      <vaadin-grid items="[[posts]]"
                    id="grid"
                    active-item="{{selectedPost}}"
                    on-active-item-changed="_onActiveItemChanged">

        <template class="row-details">
          <div class="details">
            <p>[[item.texto]]</p>
          </div>
        </template>

        <vaadin-grid-column resizable>
          <template class="header">
            <vaadin-grid-sorter path="titulo">Título</vaadin-grid-sorter>
          </template>
          <template><p style="text-overflow: ellipsis; overflow: hidden;">[[item.titulo]]</p></template>
        </vaadin-grid-column>

        <vaadin-grid-column resizable>
          <template class="header">
            <vaadin-grid-sorter path="texto">Texto</vaadin-grid-sorter>
          </template>
          <template><p style="text-overflow: ellipsis; overflow: hidden;">[[item.texto]]</p></template>
        </vaadin-grid-column>

        <vaadin-grid-column resizable width="170px" flex-grow="0">
          <template class="header">
            <vaadin-grid-sorter path="fecha">Fecha</vaadin-grid-sorter>
          </template>
          <template>[[item.fechaFormateada]]</template>
        </vaadin-grid-column>

        <vaadin-grid-column resizable width="120px" flex-grow="0">
          <template class="header">
            <vaadin-grid-sorter path="longitud">Longitud</vaadin-grid-sorter>
          </template>
          <template>[[item.longitud]]</template>
        </vaadin-grid-column>

        <vaadin-grid-column resizable width="150px" flex-grow="0">
          <template class="header">Autor</template>
          <template>[[item.autor.nombre]]</template>
        </vaadin-grid-column>
        <!--vaadin-grid-column resizable width="150px" flex-grow="0">
          <template class="header">Apellido</template>
          <template>[[item.autor.apellido]]</template>
        </vaadin-grid-column-->

        <vaadin-grid-column width="130px" flex-grow="0">
          <template class="header">Acción</template>
          <template>
            <div class="btn-group center-block" role="group" aria-label="Acciones">
              <button type="button" class="btn btn-primary btn-sm" aria-label="Eliminar" on-tap="_deletePost" data-toogle="tooltip" title="Eliminar">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-primary btn-sm" aria-label="Editar" on-tap="_modifyPost" data-toogle="tooltip" title="Editar">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-primary btn-sm" aria-label="Ver detalle" on-tap="_viewPost" data-toogle="tooltip" title="Ver detalle">
                <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
              </button>
            </div>
          </template>
        </vaadin-grid-column>
      </vaadin-grid>

      <button type="button" class="new-post-button btn-primary" aria-label="Añadir nuevo post" on-tap="_createPost">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>

    </div>
  </template>

  <script>
    Polymer({
      is: 'my-posts',
      properties: {
        posts: Array,
        url: String,
        selectedPost: {
          type: Object,
          observer: '_activeItemChanged'
        },
        urlDelete: String
      },
      ready: function() {
        this.url='https://api.mlab.com/api/1/databases/tech-u-bootcamp/collections/posts?q={"autor.nombre":"' +
                    sessionStorage.getItem("loggedUser") +
                    '"}&apiKey=cfC9AH4AebXQRi86oTVKVuP30-rd6jOb';

        this.$.executeLoad.generateRequest();
      },
      _handleLoad: function(loadResponse) {
        this.posts = loadResponse.detail.response;
      },
      _deletePost: function(evento) {
        this.urlDelete="https://api.mlab.com/api/1/databases/tech-u-bootcamp/collections/posts/" +
                        evento.model.item._id.$oid +
                        "?apiKey=cfC9AH4AebXQRi86oTVKVuP30-rd6jOb";
        this.$.executeDelete.generateRequest();
      },
      _handleDelete: function(loadResponse) {
        this.$.executeLoad.generateRequest();
      },
      _modifyPost: function(evento) {
        this.set('route.path','/modify-post/'+evento.model.item._id.$oid);
      },
      _viewPost: function(evento) {
        this.set('route.path','/detail-post/'+evento.model.item._id.$oid);
      },
      _createPost: function() {
        this.set('route.path','/new-post');
      },
      _activeItemChanged: function(item) {
        this.$.grid.selectedItems = item ? [item]:[];
      },
      _onActiveItemChanged: function(evento) {
        this.$.grid.expandedItems = [evento.detail.value];
      }
    })
  </script>
</dom-module>
