<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="file-s3-uploader.html">

<dom-module id="new-user">
  <template>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <custom-style>
      <style is="custom-style">
        :host {
          padding-top: 40px;
          padding-bottom: 40px;
          font-size: 16px;
        }

        .form-signin {
          max-width: 1100px;
          padding: 15px;
          margin: 0 auto;
          margin-bottom: 10px;
          font-weight: normal;
        }

        .form-signin .form-control {
          position: relative;
          height: auto;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          padding: 8px;
          font-size: 16px;
        }

      </style>
    </custom-style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <iron-ajax
        id="executeRegister"
        url="http://postgrebc9688.cloudapp.net:3000/api/usuarios"
        method="POST"
        contentType="application/json"
        headers='{"Access-Control-Allow-Origin":"*","Content-Type":"application/json"}'
        body={{user}}
        handle-as="json"
        on-response="_handleRegister"></iron-ajax>

    <div class="container-fluid form-signin form-horizontal">
      <div class$="{{inputUserClass}}">
        <label for="inputUser" class="col-sm-2 control-label">Usuario</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputUser" placeholder="Usuario" value="{{user.nombre::input}}">
        </div>
      </div>
      <div class$="{{inputEmailClass}}">
        <label for="inputEmail" class="col-sm-2 control-label">Correo electrónico</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail" placeholder="Correo electrónico" value="{{user.email::input}}">
        </div>
      </div>
      <div class$="{{inputPasswordClass}}">
        <label for="inputPassword" class="col-sm-2 control-label">Contraseña</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña" value="{{user.password::input}}">
        </div>
      </div>
      <div class$="{{inputPasswordClass}}">
        <label for="inputRepeatPassword" class="col-sm-2 control-label">Repita Contraseña</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputRepeatPassword" placeholder="Repita Contraseña" value="{{repeatPassword::input}}">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAvatar" class="col-sm-2 control-label">Avatar</label>
        <div class="col-sm-10">
          <file-s3-uploader id="inputAvatar" bucketname="{{bucketname}}"></file-s3-uploader>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-lg btn-primary" on-click="_register">Registrarse</button>
        </div>
      </div>
      <div id="divAlert" class$="{{alertClass}}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        No se ha podido registrar el usuario correctamente
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'new-user',
      properties: {
        user: {
          type: Object
        },
        repeatPassword: String,
        alertClass: {
          type: String,
          value: 'alert alert-danger alert-dismissable hidden'
        },
        bucketname: {
          type: String,
          value: 'blog-user-images'
        },
        inputUserClass: {
          type: String,
          value: "form-group"
        },
        inputPasswordClass: {
          type: String,
          value: "form-group"
        },
        inputEmailClass: {
          type: String,
          value: "form-group"
        }
      },
      _register: function () {
        //Revisar si los valores en los inputs son correctos
        var validationError = false;
        if (this.user.nombre === undefined || this.user.nombre=="") {
          this.inputUserClass = "form-group has-error";
          validationError = true;
        } else {
          this.inputUserClass = "form-group";
        }
        if (this.user.password === undefined || this.user.password=="" || this.user.password != this.repeatPassword) {
          this.inputPasswordClass = "form-group has-error";
          validationError = true;
        } else {
          this.inputPasswordClass = "form-group";
        }
        if (this.user.email === undefined || this.user.email=="") {
          this.inputEmailClass = "form-group has-error";
          validationError = true;
        } else {
          this.inputEmailClass = "form-group";
        }
        if (validationError) {
          return;
        }

        this.$.executeRegister.generateRequest();
      },
      _handleRegister: function(dataResponseRegister) {
        //console.log("Respuesta alta usuario: ");
        //console.log(dataResponseRegister.detail.response);

        var response = dataResponseRegister.detail.response;
        if (response.status == "success") {
          this.$.inputAvatar.handleUpload(this.user.nombre);
          sessionStorage["loggedUser"] = this.user.nombre;

          this.set('route.path','/my-posts');
          this.dispatchEvent(new CustomEvent('user-log-in', {detail: {user: this.user}}));
        } else {
          this.alertClass = "alert alert-danger alert-dismissable";
        }
      }
    })
  </script>
</dom-module>
